{% extends "layout.html" %}
{% block body %}
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/signin/">Github Profile Analyzer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>

<div class="row">
<p>{session['data']}</p>
<div class="col-md-2">
  
  <img id="avatar" src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_960_720.png">
  <br>
  <br>
  <p>Login</p>
  <p ><b>Bio:</b>
  Bla bla bla dfjvnaj sdjkbfdfvsadas kjsdb</p>
  <p>Following</p>
  <p>Followers</p>
  <hr>

</div>

<div class="col-md-10">

  <div class="table-responsive" >          
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Repo Name</th>
        <th>Watchers</th>
        <th>Unique Visitors</th>
        <th>Total Visitors</th>
        <th>Clones</th>
        <th>Forks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Cloud</td>
        <td>5</td>
        <td>35</td>
        <td>65</td>
        <td>5</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
</body>
</html>
{% endblock %}