<!doctype html>
<html lang='en-US'>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
   <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
   <title>Github Analyzer Login</title>
</head>
{% block body %}
{% endblock %}