{% extends 'layout.html' %}
{% block body %}
  <form action="/signin/" method="post">
    <div class="form-container">
        <div class="form-header">
            <h1 class="unselectable">Sign in with Github Account</h1>
        </div>
        <div class="form-login">
          <label for="userid">Username</label>
          <input type="text" id="userid" name="userid" class="input_field" required autocomplete="on" value="{{request.form.userid}}" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="input_field" required value="{{request.form.password}}" />
          

          <input type="submit" class="btn btn-primary btn-block"/>
          <div>
          {% if error %}
            <p style="color: red;margin:4px;">Error: {{ error }} </p>
          {% endif %}            
          </div>
        </div>
        <div class="form-register">
            <p  class="create-account">Build with love by <a target="_blank" href="https://github.com/Satyam-Bhalla">Satyam</a></p>
        </div>
    </div>
  </form>
{% endblock %}